body {
  font-family: "Outfit", sans-serif;
  margin: 0;
  padding: 40px 20px;
  background: #f5f5f5;
  text-align: center;
}

h1 {
  margin-top: 200px;
  font-size: 80px;
  margin-bottom: 80px; 
}

h2 {
  font-size: 30px; 
  margin-bottom: 20px;
  line-height: 1.4;
}

a:link, a:visited {
  color: rgb(0, 0, 0);
  text-decoration: none;
}

a:hover {
  color: rgb(238, 139, 0);
  text-decoration: none;
}

a:visited {
  color: rgb(144, 55, 0);
  text-decoration: none;
}

p {
  font-size: 20px;
  line-height: 1.6;
  max-width: 800px;
  margin: 0 auto 20px auto;
}
