body {
  font-family: "Times New Roman";
  font-size: 15px;
  font-style: italic;
  background: 
  url("img/wings.jpg") no-repeat center center;
  background-size: cover;
}

div.gallery-item img:hover {
  filter: none;
}

div.gallery-item img:hover .overlay{
  filter: none;
  opacity: 100;
}

h1 {
  text-align: center;
}

div.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

div.gallery-item {
  position: relative;
  margin: 5px;
  width: 450px;
  height: 450px;
  margin-bottom: 5px;
}

div.gallery-item img {
  filter: sepia(100%);
  display: block;
  width: 100%;
  height: auto;
}

div.gallery-item div.desc {
  
  padding: 15px;
  text-align: center;
  color: rgb(0, 0, 0);
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
}

.logo {
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: 100px;
  margin-bottom: 100px;
}
.overlay {
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 100;
  transition: .5s ease;
  background-color: #008CBA;
}