body {
  font-family: "Times New Roman";
  font-size: 15px;
  font-style: italic;
  background: 
  url("img/wings.jpg") no-repeat center center;
  background-size: cover;
}

div.gallery-item img:hover {
  filter: none;
}

h1 {
  text-align: center;
}

div.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

div.gallery-item {
  margin: 5px;
  width: 450px;
  height: 450px;
  margin-bottom: 65px;
}

div.gallery-item img {
  filter: sepia(100%);
  width: 100%;
  height: auto;
}

div.gallery-item div.desc {
  
  padding: 15px;
  text-align: center;
}

.logo {
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: 100px;
  margin-bottom: 100px;
}
