body {
  font-family: "Times New Roman";
  font-size: 15px;
  font-style: italic;
  background: linear-gradient(rgba(173, 132, 19, 0.5), rgba(41, 97, 140, 0.5)),
  url("wingsss.jpg") no-repeat center center;
  background-size: cover;
}

a:hover {
  filter: none;
}

h1 {
  align-items: center;
}

div.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

div.gallery-item {
  margin: 5px;
  width: 450px;
  height: 450px;
  margin-bottom: 65px;
}

div.gallery-item img {
  filter: sepia(100%);
  width: 100%;
  height: auto;
}

div.gallery-item div.desc {
  
  padding: 15px;
  text-align: center;
}

.logo {
  margin-top: 100px;
  margin-bottom: 100px;
  align-items: center;
}
