body {
  font-family: "Lexend", sans-serif;
  background: linear-gradient(rgba(128, 19, 19, 0.5), rgba(173, 132, 19, 0.5)),
    url("fondo.jpg") no-repeat center center;
  background-size: cover;
}
p {
  color: rgb(255, 255, 255);
  font-size: 25px;
  line-height: 40px;
  font-style: normal;
  font-weight: 200;
  margin: 35px;
  padding-right: 600px;
  text-align: justify;
}
ul {
  color: rgb(255, 255, 255);
  list-style-type: none;
  line-height: 30px;
  padding-top: 110px;
  font-family: "Lexend", sans-serif;
  font-weight: 500;
}
h1 {
  font-family: "Lexend", sans-serif;
  margin-top: 50px;
  margin-bottom: 20px;
  color: rgb(255, 255, 255);
  font-size: 60px;
  padding-left: 35px;
}
h2 {
  color: rgb(255, 255, 255);
  font-size: 10pt;
  font-family: "Lexend", sans-serif;
  font-weight: 500;
  padding-bottom: 90px;
  padding-left: 35px;
}
a:link {
  color: rgb(255, 255, 255);
  text-decoration: none;
}
a:visited {
  color: rgb(255, 255, 255);
  text-decoration: none;
}
a:hover {
  color: rgb(255, 221, 0);
  text-decoration: underline;
}
.enlace-principal {
  color: rgb(255, 255, 255);
  font-style: normal;
}
.enlace-principal:hover {
  color: rgb(255, 255, 255);
  font-weight: 500;
  text-decoration: none;
}
.enlace-tachado:hover {
  color: rgb(255, 77, 0);
  text-decoration: line-through;
}
