body {
  font-family: sans-serif;
  background-image: url("img/background.png");
  background-repeat: no-repeat;
  background-position: top center; 
  background-size: 100% auto;      
  background-attachment: scroll;  
  min-height: 100vh;
  color: rgb(172, 89, 0);
  text-align: center;
  padding: 20px;
}

.aboutme { 
  width: 60px;
  max-width: 90%; 
  height: auto; 
  margin-top: 350px; 
  margin-left: 90px;
  margin-right: 40px;
  transition: transform 0.3s ease; 
}

.aboutme:hover { 
  transform: scale(1.05);
 }

.graphicdesign { 
  width: 150px;
  max-width: 90%; 
  height: auto; 
  margin-top: 100px; 
  margin-left: 0px; 
  margin-right: 160px;
  transition: transform 0.3s ease; 
}

.graphicdesign:hover { 
  transform: scale(1.05);
 }

.illustration { 
  width: 300px;
  max-width: 90%; 
  height: auto; 
  margin-top: 500px; 
  margin-right: 30px;
  margin-left: -180px;
  transition: transform 0.3s ease; 
}

.illustration:hover { 
  transform: scale(1.05);
 }

.fanzines { 
  width: 100px;
  max-width: 90%; 
  height: auto; 
  margin-top: 500px; 
  margin-right: 90px; 
  transition: transform 0.3s ease; 
}

.fanzines:hover { 
  transform: scale(1.05);
 }

.photography { 
  width: 150px;
  max-width: 90%; 
  height: auto; 
  margin-top: 130px; 
  margin-right: 20px; 
  margin-left: 10px;
  transition: transform 0.3s ease; 
}

.photography:hover { 
  transform: scale(1.05);
 }

.cinematography { 
  width: 150px;
  max-width: 90%; 
  height: auto; 
  margin-top: 560px; 
  margin-right: 100px; 
  transition: transform 0.3s ease; 
}

.cinematography:hover { 
  transform: scale(1.05);
 }

 
.larata { 
  width: 50px;
  max-width: 90%; 
  height: auto;
  height: auto;
  margin-top: -400px;
  margin-right: 300px; 
  transition: transform 0.3s ease; 
}

.larata:hover { 
  transform: scale(1.05);
 }

.menu-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; 
  gap: 30px;               
  margin-bottom: 50px;
}

.menu-container a img.menu-item {
  width: 60px;
  height: auto;
  transition: transform 0.3s ease;
  border-radius: 12px;
}

.menu-container a img.menu-item:hover {
  transform: scale(1.05);
}

/* Responsive */
@media (max-width: 620px) {
  .menu-container {
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-bottom: 30px;
  }

  .menu-container a img.menu-item {
    width: 50px;
  }

  h1 {
    font-size: 60px;
  }
}
